#close-button {
    -fx-background-color: #353446; /* 通常の背景色 */
    -fx-text-fill: #ffffff; /* 通常の文字色 */
    -fx-background-radius: 0; /* ボタンの角をフラットに */
    -fx-border-radius: 0;
    -fx-border-color: transparent; /* ボーダーを透明に */
    -fx-border-width: 0;
}

#close-button:hover {
    -fx-background-color: #ff6347; /* ホバー時の背景色 */
}

#memo {
    -fx-background-color: #9edd87;
    -fx-text-fill: white;
    -fx-background-radius: 30px;
    -fx-padding: 4px 4px;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-effect: null;
}

#memo:hover {
    -fx-background-color: #66c943;
}

#edit {
    -fx-background-color: #37a9ff;
    -fx-text-fill: white;
    -fx-background-radius: 30px;
    -fx-padding: 4px 4px;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-effect: null;
}

#edit:hover {
    -fx-background-color: #008af2;

}

#addpw {
    -fx-background-color: #353446
}

#addpw:hover {
    -fx-background-color: #21202C
}

#pwlist:hover {
    -fx-background-color: #ABABAB
}

#viewlist {
   -fx-background-insets: 0;
    -fx-effect: null;
    }



#listcontents {
    -fx-min-height: 37px;
}